@import '../../variables.scss';

.minter-container {
	background-color: $white;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.minter {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 1440px;
	padding: 80px 140px;

	h2 {
		margin-bottom: 40px;
		font-family: $font-primary;
		color: $black-light;
		font-size: $header-size;
		font-weight: $header-weight;

		span {
			color: $gold-dark;
		}
	}

	h3 {
		margin-bottom: 25px;
		font-family: $font-primary;
		color: $black-light;
		font-size: $subheader-size;
		font-weight: $subheader-weight;
	}
}

.selection-container {
	width: 600px;

	p {
		display: flex;
		flex-direction: row;
		margin-bottom: 15px;
		font-family: $font-primary;
		font-size: $paragraph-size;
		font-weight: $paragraph-weight;
		color: $black-light;
	}
}

.minter-mint-button-container {
	width: 170px;
	margin-bottom: 0.8rem;
}

.minter-link-paragraph {
	font-family: $font-primary;
	font-size: $paragraph-size;
	font-weight: $paragraph-weight;
	color: rgba(102, 102, 102, 0.7);
}

.how-to-link {
	margin-top: 45px;
}

.icon {
	width: 24px;
	margin-right: 40px;
}

.link {
	font-family: $font-primary;
	font-size: $link-size;
	font-weight: $link-weight;
	color: $gold-dark;
	text-decoration: none;
}

.spinner-container {
	margin-top: 15px;
}

.mint-status {
	font-family: $font-primary;
	color: $black-light;
	font-size: $link-size;
	font-weight: $link-weight;
	background-color: $blue;
	border-radius: 3px;
	padding: 5px 10px;
	color: white;
	margin-bottom: 0.8rem;

	a {
		text-decoration: none;
		color: $gold;

		&:hover {
			text-decoration: underline;
		}
	}
}
