@import '../../variables.scss';

.minter-container {
	background-color: $white;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.minter {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 1440px;
	padding: 80px 140px;
}

.minter-header {
	margin-bottom: 40px;
	font-family: $font-primary;
	color: $black-light;
	font-size: $header-size;
	font-weight: $header-weight;

	span {
		color: $gold-dark;
	}
}
.races-container {
	display: flex;
	flex-direction: row;
	column-gap: 30px;
	flex-wrap: wrap;
}

.minter-link-paragraph {
	font-family: $font-primary;
	font-size: $paragraph-size;
	font-weight: $paragraph-weight;
	color: rgba(102, 102, 102, 0.7);
}

.how-to-link {
	margin-top: 45px;
}

.link {
	font-family: $font-primary;
	font-size: $link-size;
	font-weight: $link-weight;
	color: $gold-dark;
	text-decoration: none;
}
