@import '../../variables.scss';

.selector-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 1rem;
	width: 100%;
}

select {
	font-family: $font-primary;
	font-size: $paragraph-size;
	font-weight: $paragraph-weight;
	color: $black-very-light;
	width: 100%;
	height: 40px;
	text-align: center;

	option {
		text-align: left;
	}
}
