// COLORS
$blue: #8aa2bc;
$blue-dark: #7c92a9;
$blue-light: #96abc3;
$blue-very-light: #a1b3c9;
$black: #404040;
$black-dark: #282828;
$black-light: #535353;
$black-very-light: #666666;
$gold: #e6b54b;
$gold-dark: #cca142;
$gold-light: #ffc953;
$gold-very-light: #ffd475;
$white: #ffffff;

// FONT-FAMILY
$font-primary: 'Poppins', sans-serif;

// FONT SIZES
$main-header-size: 75px;
$header-size: 48px;
$race-name-size: 32px;
$subheader-size: 18px;
$paragraph-size: 14px;
$link-size: 14px;

// FONT-WEIGHT
$paragraph-weight: 400;
$link-weight: 500;
$subheader-weight: 500;
$header-weight: 600;
$main-header-weight: 700;
